.DS_Store
h3_constraint_editors/.DS_Store
h3_constraint_editors/h3b_constraints_checking_with_HL/.DS_Store
h3_constraint_editors/h3b_constraints_checking_with_HL/P279_full.csv
h3_constraint_editors/h3b_constraints_checking_with_HL/.ipynb_checkpoints/*
